{% extends 'home.html'%}
{% block content %}
    <h1>CineResenhas: Seu Portal para o Mundo do Cinema</h1>
    <h2>
        Bem-vindo ao CineResenhas, o seu destino definitivo para explorar o mágico universo do cinema. Nosso site é apaixonadamente dedicado a compartilhar as melhores análises e resenhas de filmes, ajudando você a fazer escolhas informadas quando se trata de entretenimento.
    </h2>    
    <p>Missão:
        Nossa missão é simples: conectar amantes de cinema a experiências cinematográficas excepcionais. Acreditamos que o cinema tem o poder de nos transportar para mundos desconhecidos, inspirar nossas emoções e desencadear discussões significativas. Queremos ser sua fonte confiável para explorar a diversidade de filmes, desde clássicos intemporais até as últimas estreias.
    
        O que você pode esperar do CineResenhas:
        Resenhas Abrangentes: Nossas resenhas de filmes vão além da superfície. Analisamos cuidadosamente a trama, atuações, direção, cinematografia e muito mais, oferecendo insights aprofundados que ajudam você a compreender o filme em um nível mais profundo.
        Variedade de Gêneros: Seja você fã de drama, comédia, ação, sci-fi, horror ou qualquer outro gênero, temos resenhas abrangentes que abrangem uma ampla variedade de filmes. Queremos atender a todos os gostos e preferências.
        Listas e Recomendações: Além de resenhas individuais, oferecemos listas temáticas, recomendações de filmes e muito mais. Isso ajuda a encontrar exatamente o que você deseja assistir em uma noite de cinema.
        Interatividade: Encorajamos nossos leitores a participar, compartilhando suas opiniões e sugestões. Afinal, o cinema é uma experiência compartilhada, e adoramos ouvir o que você tem a dizer.
    </p>
{%endblock%}